@import '../../helpers/colors'

.header
  padding: 25px 0
  &__container
    border: 2px solid $gray
    display: flex
    justify-content: space-between
    align-items: center
  .logo-active
    background-color: #fff !important
  .brand-logo
    flex: 0 0 50%
    font-size: 25px
    color: $black
    font-weight: 700
    background-color: $blue
    border-right: 2px solid $gray
    border-left: 2px solid $gray
