
.article
  margin-top: 25px
  margin-bottom: 25px
  width: 100%
  display: flex
  justify-content: space-between
  .leftImage
    width: 30%
    border: 1px solid #b10303
    margin-right: 15px
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%
      height: 200px
  .rightDescr
    width: 70%
  &Link
    color: inherit
  
  .top
    margin-bottom: 15px
    display: flex
    justify-content: space-between
    &-left
      display: flex
      align-items: center
      .title
        margin-right: 15px
        font-size: 26px
        color: #b10303
        transition: color .2s
        &.edit
          color: #B94A3E
          white-space: nowrap
          text-overflow: ellipsis
          max-width: 350px
          overflow: hidden
        &.read
          color: #B94A3E
        &:hover
          color: #742c24
      .btn
        &-delete
          margin-right: 15px