
.article
  margin-top: 25px
  margin-bottom: 25px
  &Link
    color: inherit
  
  .top
    margin-bottom: 15px
    display: flex
    justify-content: space-between
    .title
      font-size: 26px
      color: #b10303
      transition: color .2s
      &.read
        color: #B94A3E
  &:hover
    .top
       .title
          color: #742c24