.detail
  p
    font-size: 20px
    &.date
      font-size: 18px
      color: #fff

  .showImage
    max-height: 250px
  input, textarea
    &.input
      box-sizing: border-box
      padding: 15px
      border-radius: 5px
      border: 2px solid #9e9e9e
      margin-top: 25px
      &:focus, &:focus-visible
        border: 2px solid #26a69a;
        box-shadow: 0 1px 0 0 #26a69a;
  .input__desc
    height: 12rem
    resize: none

  .buttons
    display: flex
    margin-bottom: 25px
    justify-content: flex-end
    .button
      font-size: 22px
      &-save
        margin-left: 15px 

  .addImage
    display: flex
    align-items: center
    justify-content: space-between
    border: 2px solid #9e9e9e
    padding: 15px
    img
      max-height: 150px
      margin: 15px