body
  background: #121B22
  color: #C1B6AC
.App 
  text-align: center
  width: 80%
  margin: auto
  .redC
    color: #B94A3E
  .blueC
    color: #204254
  .redC-bg
    background-color: #B94A3E
  .blueC-bg
    background-color: #204254

  .button
    &-primary
      color: #fff
      background-color: #B94A3E
      &:hover
        background-color: #b93324
    &-second
      background-color: transparent
      border: 1px solid #B94A3E
      &:hover
        background-color: #B94A3E
        color: #fff